.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("./assets/wormz.png");

}

#topnav {
  background-image: url("./assets/wormz.png");

  background-color: white;
}

#homeboxcontact {
  /* margin: 0px 500px 0px 500px;; */
  background-image: url("./assets/memphis-mini.png");

}

#homeboxabout {
  /* margin: 0px 0px 0px 1000px;; */
  background-image: url("./assets/memphis-mini.png");

}



#logo img {
  margin: -70px -60px -65px -70px;
  height: 200px;
}
