.App {
  text-align: center;
  background-image: url("./assets/wormz.png");
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#topnav {
  background-image: url("./assets/wormz.png");


}

#body {
  background-image: url("./assets/wormz.png");


}

#imagecover {
  margin: 40px;
  display: inline-block;
  position: relative;
  background: #ffff;
  width: 300px;
  height: 420px;
  border: 0px solid black;
  box-shadow: 0 19px 38px rgba(0,0,0,.1), 0 15px 12px rgba(0,0,0,.12);
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 0px;
  overflow: hidden;
}

#imagecover img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallerybody {
  background-image: url("./assets/wormz.png");
  margin: 0px 150px 0px 150px;
  padding-left: 110px;
}

#list {
  padding: 50px 100px 50px 110px;
}

#textbackground {
  background-image: url("./assets/memphis-mini.png");
  margin: 0px 190px 0px 190px;
}

#logo img {
  margin: -70px -60px -65px -70px;
  height: 180px;
}


#box {
  padding: 0px 100px 0px 0px;
}
